#intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4000ff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
    font-size: 5rem;
    transition: opacity 0.5s ease;
}

#intro-text {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1.5px solid rgb(255, 255, 255); */
    display: none;
    font-size: 9vw;
    text-align: center;
    color: transparent;
    background: url('cover.png') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    animation: introFadeOut 0.5s ease forwards;
    animation-delay: 1s;
    letter-spacing: -0.4rem;
    line-height: 5vw;
    padding: 4rem 1rem 0 1rem;
}

#intro-text div{
    font-size: 4vw;
    letter-spacing: 0;
}

/* intro 사라질 때 */
@keyframes introFadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* 숨겨져 있다가 나타나는 버튼들 */
#buttons {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}

/* 등장할 때 */
#buttons.show {
    opacity: 1;
    visibility: visible;
}

* {
    padding: 0;
    margin: 0;
    font-family: "venice-blvd", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8vw;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 70vh;
    animation: spin 20s linear infinite;
    transform-style: preserve-3d;
    margin-bottom: 20px;
}

/* 
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
} */

#buttons {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: visible;
    animation: fadeIn 2s forwards;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#buttons.hidden {
    opacity: 0;
    visibility: hidden;
}

.btn {
    padding: 10px 15px;
    border: 1.5px solid black;
    background: none;
    border-radius: 10rem;
    width: max-content;
    transition: all 0.3s ease;
    position: absolute;
    background-color: white;
    z-index: 1;
    /* 기본값 */
}

.btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: black;
    color: white;
    z-index: 2;
    /* hover하면 +1 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.content {
    width: 80vw;
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: left;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid black;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.content.show {
    opacity: 1;
    visibility: visible;
}

.content b {
    font-size: 1.5rem;
}

#close-button {
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1.5px solid black;
    border-radius: 10rem;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}

#close-button:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: black;
    color: white;
}